{
  "logger": {
    "name": "Logs #1",
    "level": "debug"
  },
  "udp": {
    "enabled": true,
    "ip": "0.0.0.0",
    "port": 12345
  },
  "http": {
    "enabled": true,
    "ip": "0.0.0.0",
    "port": 12345
  },
  "queues": [
    {
      "type": "redis",
      "config": {
        "mode": "channel",
        "channelName" : "ebot-logs",
        "connection": {
          "url": "redis://127.0.0.1:6379"
        }
      }
    }
  ],
  "plugins": [
    {
      "path": "src/logs-receiver/plugins/logger.ts",
      "config": {
        "path": "logs",
        "split": true
      }
    },
    {
      "path": "src/logs-receiver/plugins/mapper.ts",
      "config": {
        "mapping": {
          "127.0.0.1:27015": "192.168.0.1:27015"
        }
      }
    }
  ]
}
